<nav class="footer">
    <div>
        <p>Flavor-Finds &#169; <span id="date"></span></p>
    </div>
</nav>
<script>
    const p = document.querySelector('#date');
    const date = new Date().getFullYear();
    p.textContent = date;
</script>