<nav class="nav">
    <a href="/">FlavorFinds</a>
    <div>
        <a class="new" href="/new">Add New Entry</a>
        <a class='register' href="/register">Sign-up</a>
        <a class='register' href="/login">Login</a>
    </div>
</nav>