/* styles.css */

body {
    font-family: Arial, sans-serif;
    background-color: #e6e6e6;
    width: 100%;
    /* display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0; */
}

main{
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 70%;
    margin: 0 auto;
}

.card {
    background-color: #fff;
    border-radius: 10px;
    max-width: 80%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center; /* Center the content inside the card */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.card img.restaurant-image {
    max-width: 80%;
    height: auto;
    border-radius: 8px;
    box-shadow: 2px 9px 38px -8px rgba(0,0,0,0.75);
    margin-bottom: 5%;
    margin-top: 10px;
}

.card ul {
    list-style: none;
    padding: 0;
    margin-top: 0;
}


.card form {
    display: inline;
}

.location{
    color: rgb(139, 139, 139);
    font-size: 18px;
    margin-top: 1%;
}
.price{
    margin-top: 5%;
    margin-bottom: 3%;
    font-weight: 600;
    font-size: 18px;
    color: red;
}
.description{
    max-width: 50%;
    margin: 0 auto;
}
.btn {
    background-color: black;
    text-decoration: none;
    color: white;
    font-size: 16px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.1s, transform 0.1s;
    margin-top: 10px;
}

.btn:hover{
    background-color: #333;
    color: white;
}

.btn-back{
    display: block;
    height: 30px;
    width: 30px;
    background-color: black;
    
    border-radius: 10%;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: transform 0.2s, border-radius 0.1s ease-in;
    margin-bottom: 2%;
    padding: 2px;
}

.cross{
    background-color: black;
    height: 15px;
}

.btn-container{
    width: 100%;

    display: flex;
    justify-content: right;
    padding-top: 5px;
}

.reviews-display, .reviews{
    margin-top: 50px;
}

.review-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 20px;
}

.review-card h2 {
    margin-bottom: 10px;
    font-size: 20px;
}

.review-card p {
    margin-bottom: 15px;
}

.review-card form {
    display: flex;
    justify-content: center;
}

.review-card button {
    padding: 5px 10px;
    background-color: #dc3545;
    color: #fff;
    border: none;
    cursor: pointer;
}


/* Text Styles */
.name{
    font-size: 50px;
}

.review-header{
    margin-bottom: 20px;
}